.footer {
  position: absolute;
  padding: 20px 0;

  font-size: 15px;
  font-weight: bold;
  text-align: center;

  background-color: #000;

  left: 0;
  bottom: 0;

  width: 100%;

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }

}
