@import "src/styles";

.wrapper  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  position: relative;

  padding: 50px 0 105px;

  background-color: $background;

  @media screen and (max-width: 767px) {
    padding: 15px 0 50px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;

  padding: 0 15px;

  margin: 0 auto;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}
