<div class="rates__block">
  <ul class="rates__tabs">
    <li
      *ngFor="let currency of currencies"
      [class.active]="currentCurrency === currency.value"
      (click)="changeCurrency(currency.value)"
      class="transition">
      <span>{{currency.title}}</span>
    </li>
  </ul>

  <div class="rates__content">
    <app-bank-rates-card
      *ngFor="let bankRates of rates"
      [bankRates]="bankRates">
    </app-bank-rates-card>
  </div>
</div>



