@import "src/styles";

.rates {
  &__block {
    background-color: $secondary;
    box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.15);

    border-radius: 3px;
    overflow: hidden;
  }

  &__tabs {
    display: flex;
    border-bottom: 1px solid #eee;

    & > li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33.333%;
      height: 60px;
      padding: 0 5px;

      position: relative;

      color: $secondary__text;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;

      cursor: pointer;

      &.active, &:hover {
        background-color: $active-tab;
        color: $active-tab__text;
      }
    }

  }
}

app-bank-rates-card {
  background-color: $secondary;
  color: $secondary__text;

  &:nth-child(2n) {
    background-color: $primary;
    color: $primary__text;
  }
}
