@import "src/styles";

:host {
  display: block;
}

.component {

  &__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__row {
    display: flex;
    justify-content: center;

    width: 33.333%;

    .positive {
      color: $positive;
    }

    .negative {
      color: $negative;
    }

    & p {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      font-size: 22px;
      font-weight: 500;

      & span {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 567px) {
      width: 50%;
      padding-bottom: 15px;

      &:first-child {
        width: 100%;
      }
    }

    & img {
      max-height: 80px;
      max-width: 100%;

      @media screen and (max-width: 567px) {
        max-height: 60px;
      }
    }
  }
}
