<div *ngIf="bankRates" class="component__block">
  <div class="component__row">
    <img [alt]="bankRates.bank + ' logo'" [src]="getImgSrc(bankRates.bank)"/>
  </div>

  <div class="component__row">
    <ng-container *ngTemplateOutlet="rate; context: {rate: bankRates.buy, diff: bankRates.buy_diff}"></ng-container>
  </div>

  <div class="component__row">
    <ng-container *ngTemplateOutlet="rate; context: {rate: bankRates.sale, diff: bankRates.sale_diff}"></ng-container>
  </div>

</div>

<ng-template #rate let-rate="rate" let-diff="diff">
  <p>
    {{rate | number : '.2-3'}}
    <span
      *ngIf="diff > 0"
      class="positive">
      + {{ (diff | abs) | number : '.3' }}
      </span>
    <span
      *ngIf="diff < 0"
      class="negative">
      - {{ (diff | abs) | number : '.3' }}
      </span>
  </p>
</ng-template>
