$active-tab: #8d8d8d;
$active-tab__text: #fff;

$primary: #bdbdbd;
$primary__text: #000;

$secondary: #fff;
$secondary__text: #000;

$background: #eee;

$negative: #c54c62;
$positive: #6aa353;

$footer-background: #333;
$footer-text: #333;
